.App {
  text-align: center;
  margin-top: 0;
}

body { margin: 0 !important ; padding: 0 !important;}

.navbar{
  padding-bottom: 1em;
  background-color: rgb(25, 170, 206);
  text-align: center;
  a{
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    text-decoration-line: none;
    padding-left: 3em;
    
  }
}